<%= form_with(model: cms_post, url: cms_post.id ? cms_post_path(cms_post) : cms_posts_path, local: true) do |form| %>
  <% if cms_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cms_post.errors.count, "error") %> prohibited this cms_post from being saved:</h2>

      <ul>
        <% cms_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, placeholder: "Title" %>
  </div>

  <div class="field">
    <%= form.text_field :publish_date, placeholder: "Publish Date", data: { behavior: "flatpickr" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
